<nav class="navBackground">
    <a [routerLink]="['/device', device , 'WellPressure']">Well Pressure</a>
    <a [routerLink]="['/device', device , 'QuickTest']">Quick Test</a>
    <a [routerLink]="['/device', device, 'Auxiliary']" style="padding: 31px 7px;" >  Auxiliary Set Pressure</a>
    <a [routerLink]="['/device', device, 'SystemStatus']"> System Status </a>
    <a [routerLink]="['/device', device, 'Settings']"> Settings</a>
    <a [routerLink]="['/device', device, 'Alarms']"> Alarms</a>
</nav>