
<div class="container" style="margin-top: 130px; background-color: #39497d;">
  <div class="row">
    <div class="col-auto">
      <h1 style="color: white; font-weight: 700;">USER MANAGEMENT</h1>
    </div>
  </div>
    <div class="row">
        <div class="col-auto">
            <button class="btn btn-primary" routerLink="../addUser">Add User</button>
        </div>
    </div>
    <br>
    <div class="row justify-content-center" >
        <div class="col-auto" style="overflow-x: auto;">
            <table >
                <tr style="background-image: linear-gradient(rgb(110,167,206), rgb(96, 123,150)); color: white;">
                  <th>User</th>
                  <th>Email</th>
                  <th>Organization</th>
                  <th>Role</th> 
                  <th style="padding: 0"></th>
                </tr>
                <tr style="background-color: rgb(217,217,217); border-style: solid; border-width: 0.01rem;" *ngFor="let user of users" 
                >
                  <td>{{user["firstName"]}} {{user['lastName']}}</td>
                  <td>{{user["email"]}}</td>
                  <td>{{user['organization']}}</td>

                  <td>{{user['role']}}</td><ng-template #popContent><button (click)="deleteTest()">delete</button></ng-template>
                  <td style="padding: 0"><button placement="auto"
                    [ngbPopover]="popContent" style="color: transparent; border: transparent; background-color: transparent;"><img style="color: transparent; border: transparent; background-color: transparent;" src="../../assets/three dots.png" height="30" width="30"/></button></td>
                </tr>
              </table>
        </div>
    </div>
  </div>