<div class="container-fluid" style="margin-top: 30px; ">
    <div class="row "  style="flex-wrap: nowrap; overflow-x:auto; width:100vw; height: 100vh;">
        <div class="col-8 tablee" >
            <table style=" margin-left: 15px; margin-right: 40px; width: 100%;">
                <tr style="background-image: linear-gradient(rgb(110,167,206), rgb(96, 123,150));">
                  <th>Status</th>
                  <th>Time</th> 
                  <th>Text</th>
                </tr>
                <tr style="background-color: rgb(253, 196, 51);">
                  <td>Active</td>
                  <td>Inactive</td> 
                  <td>Total System Hours Reached Critical Repair Point</td>
                </tr>
              </table>
        </div>
        <div class="col-2" align="center">
            <button>Ack Selected</button>
            <button>Ack All</button>
            <button>Filter</button>
            <button>Info</button>
        </div>
    </div>
</div>